.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.MovieGrid--movie-item {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}

@media (min-width: 992px) { 
  .MovieGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
  }
}