.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-title {
  margin: 0;
  font-size: 3rem;
}

.Main--title {
  margin: 2rem;
  font-size: 1.5em;
}

.MinRatingSelect--select {
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
  border: 1px solid #ced4da;
}

.MovieGrid--movie-item {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}

.MovieGrid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 576px) { 
  .MovieGrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) { 
  .MovieGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.Attribution {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.Attribution--logo {
  align-self: center;
  height: 2rem;
}
.Attribution--text {
  padding: 1rem;
  text-align: initial;
}